# ---------------------------------------------
# Terraform
# ---------------------------------------------
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.lock.info
crash.log
override.tf
override.tf.json
*.tfplan
*.tfvars